[submodule "examples"]
	path = examples
	url = https://github.com/thesheps/pipeliner-examples
[submodule "cli"]
	path = cli
	url = https://github.com/thesheps/pipeliner-cli
[submodule "core"]
	path = core
	url = https://github.com/thesheps/pipeliner-core
[submodule "ui"]
	path = ui
	url = https://github.com/thesheps/pipeliner-ui
[submodule "api"]
	path = api
	url = https://github.com/thesheps/pipeliner-api.git
