version: "3"

services:
  db:
    build: "./db"
    environment:
      - POSTGRES_USER=pipeliner
      - POSTGRES_PASSWORD=pipeliner
    ports:
      - "5432:5432"

  api:
    build: "./api"
    environment:
      - PIPELINER_API_PORT=3333

  ui:
    build: "./ui"
    environment:
      - PIPELINER_UI_PORT=2222
